/config/services.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
env
config/services.php
!/vendor/rap2hpoutre/laravel-log-viewer/src/controllers/LogViewerController.php
config/session.php
!/vendor/laravel/framework/src/Illuminate/Log/Logger.php
